@{
    ViewData["Title"] = "Home Page";
}
@model List<Monster>

<div class="text-center">
    <a href="monsters/create">Create a Monster</a>
    <h1 class="display-4">Here is the list of monsters</h1>
    @foreach(Monster monster in Model)
    {
        <div class = "border">
            <div>Name: @monster.Name</div>
            <div>Height: @monster.Height</div>
            <div>Description: @monster.Description</div>
            <div>Created at: @monster.CreatedAt</div>
            <a href="/monsters/@monster.MonsterId/view">View </a> |
            <a href="/monsters/@monster.MonsterId/edit"> Edit</a> |
            <a href="/monsters/@monster.MonsterId/delete"> Delete</a>
        </div>
    }
</div>
