@model ARLookup
<h1>New Install</h1>

<form asp-controller="Technician" asp-action="LookupInstall" method="post">
    
    <div class = "d-flex">
        <label asp-for="ARNum">AR Number: </label>
        <span asp-validation-for="ARNum" style="color: red"></span>
    </div>
    <input asp-for="ARNum">
    
    <button class="btn btn-success">Next</button>
</form>