@model List<string>

<div class="catbox bg">
    <h2 class="text-center">Pick Item Category</h2>
    <ul class="categories text-center">
        @foreach(string cat in @Model)
        {
            <li class="cat-li"><a href="/equipment/@cat/getitem" class="cat-selections btn-animate">@cat</a></li>
        }
    </ul>
    <a href='/install/@Context.Session.GetInt32("Account")/lookup' class="btn btn-danger">Cancel</a>

</div>
