@{
    ViewData["Title"] = "Home Page";
}

@model List<User>

<div class="text-center">
    <h1 class="display-4">Here are some names!</h1>
    @foreach (User num in @Model)
    {
        <p>@num.FullName()</p>        
    }
    
</div>