@model Account

<body class="bg">
    <h1>Edit Account</h1>

    <form asp-controller="Salesman" asp-action="UpdateAccount"  asp-route-accountId = "@Model.AccountId" method="post" class="create-box">
        
        <div class = "d-flex">
            <label asp-for="AccountPassword">Password: </label>
            <span asp-validation-for="AccountPassword" style="color: red"></span>
        </div>
        <input asp-for="AccountPassword">

        <div class = "d-flex">
            <label asp-for="ContractStart">Start Date: </label>
            <span asp-validation-for="ContractStart" style="color:red"></span>
        </div>
        <input asp-for="ContractStart">

        <div class = "d-flex">
            <label asp-for="ContractEnd">Contract End Date: </label>
            <span asp-validation-for="ContractEnd" style="color: red"></span>
        </div>
        <input asp-for="ContractEnd">    

        <div class = "d-flex">
            <label asp-for="RMR">Recurring Monitoring Rate: </label>
            <span asp-validation-for="RMR" style="color: red"></span>
        </div>
        <input asp-for="RMR">    
        
        <div class = "d-flex">
            <label asp-for="EquipmentCost">Equipment Cost: </label>
            <span asp-validation-for="EquipmentCost" style="color: red"></span>
        </div>
        <input asp-for="EquipmentCost">    

        <div class = "d-flex">
            <label asp-for="CustomerId">Customer ID: </label>
            <span asp-validation-for="CustomerId" style="color: red"></span>
        </div>
        <input asp-for="CustomerId" value='@Context.Session.GetInt32("CID")'> 
        
        
        <div class = "d-flex">
            <label asp-for="SalesId">Sales ID: </label>
            <span asp-validation-for="SalesId" style="color: red"></span>
        </div>
        <input asp-for="SalesId" value='@Context.Session.GetInt32("UUID")'> 
        
        <div class = "d-flex">
            <label asp-for="SalesNotes">Sales Notes: </label>
            <span asp-validation-for="SalesNotes" style="color: red"></span>
        </div>
        <textarea asp-for="SalesNotes" class="notes-box"></textarea> 
        

            
            <button type="submit" class="btn btn-primary buttons"> Submit </button>
        </div>
    </form>
</body>