@{
    ViewData["Title"] = "All Assigned";
}

<div class="text-center">
    <h1 class="display-4">All Assigned</h1>
    <a href="/inventory">Dashboard </a> | 
    <a href="/inventory/create">Create Item</a> | 
    <a href="/audit/account">Audit Account </a> | 
    <a href="/inventory/unassigned/all">View All Unassigned</a> | 
    <span>View All Assigned</span>
</div>