@{
    ViewData["Title"] = "All Unassigned";
}

<div class="text-center">
    <h1 class="display-4">All Unassigned</h1>
    <a href="/inventory">Dashboard </a> | 
    <a href="/inventory/create">Create Item</a> | 
    <a href="/audit/account">Audit Account </a> | 
    <span>View All Unassigned</span> | 
    <a href="/inventory/assigned/all">View All Assigned</a>
</div>
