@{
    ViewData["Title"] = "Audit Account";
}
@model ARLookup

<body class="bg">
    <div class="text-center">
        <h1 class="display-4">Audit Account</h1>
        <a href="/inventory">Dashboard </a> | 
        <a href="/inventory/create">Create Item</a> | 
        <span>Audit Account </span> | 
        <a href="/inventory/unassigned/all">View All Base Items</a> | 
        <a href="/inventory/assigned/all">View All Assigned</a>
    </div>

    <form asp-controller="Inventory" asp-action="LookupAccount" method="post">
        
        <div class = "d-flex">
            <label asp-for="ARNum">AR Number: </label>
            <span asp-validation-for="ARNum" style="color: red"></span>
        </div>
        <input asp-for="ARNum">
        
        <button class="btn btn-success">Next</button>
    </form>
</body>