
<h1>Van Builds</h1>
<p>There are lots of different options when it comes to a van build. First and foremost you’re going to need a van! There is no one-way or one-vehicle that is perfect for everyone either. Your budget is going to play a key role in the van you choose but certain vans will work better depending on the layout that you choose. You don’t need to be an expert builder to do the build either. Play to your strengths, watch a lot of YouTube tutorials and most importantly don’t be afraid to make mistakes! </p>

<p>Designing your Layout: I think, before you even buy a van you can start designing different layouts. When designing my van I googled the dimensions of the vans i was looking at and then googled an image of the floor plan for a few vans. With that information I was able to make semi accurate measurements of the things I felt I needed in the van and where everything could go. I just used ms Paint to draw boxes over the floor plan that were to the scale of the van. If you want to learn some fancy new software, there are a lot of van builders that swear by SketchUp which can make a 3d rendering of your van build. I never put in the time to figure that one out however. On the off chance you have a VR headset you could use on of their 3d drawing programs and build your van in an area you can actually stand in (after I did my initial van build I found this and it was super useful in designing the remodel I did)</p>

<h3>Choosing a Van:</h3>
<p>Some people find a screaming deal on a van or already have one that they want to convert and in those cases this part is a no brainer. As you quickly will learn once starting vanlife, you need to work with whatever resources you’ve got at your disposal! For those of us that don’t know where to start i’ll include a pros/cons list of a few of the more popular vans.</p>

<p>Disclaimer: This is all according to my own opinion. I should also say that the van i chose is the Ram Promaster so im a little biased!</p>
<h4>Ram Promaster</h4>
<p>Pros:</p>
<ul>
    <li>Widest body of all vans. If you are tall or simply want your bed to go from side to side rather than front to back then this is a great option. If your bed goes from side to side and is in the back you can leave the space under it for use as a “garage” if you have a lot of gear to haul. A wider van also means more roof space for things like solar panels (although you are limited by the dimensions of the panels you can find so this might not be too beneficial).</li>
    <li>Front wheel drive. This is both a pro and a con. Since there is no drive train that needs to run to the back wheels, the van's cargo area is about 8+ inches lower than any rear wheel drive vans. This makes it so your van’s max height is under 9 feet (meaning you can still go through most drive-thrus in a van that you can fully stand up in… you can thank me later)</li>
    <li>Most square of all vans. The Promaster’s cargo area is super “boxy” compared to other vans (it still curves a little but will be the closest you’re going to get to square walls in a van). This makes it easier to build around</li>
    <li>Made by dodge. There are dodge dealerships all over the US and so when your van needs service, it's convenient and not too expensive</li>
    <li>Easier Heater installation. Has the ability to tap right into the fuel tank if you are wanting to install a diesel/gas heater for the van (some heaters can run on diesel OR gas). The vast majority of ProMasters are gasoline (aka petrol) and the vast majority of heaters are Diesel so make sure to do some research to find one that works with your type of fuel (if you want it to be able to pull straight from your tank)</li>
    <li>Best turning radius</li>
    <li>Of the 3 vans i’ll talk about this is the least expensive</li>
</ul>
<p>Cons:</p>
<ul>
    <li>Front wheel drive. Since most of your weight is going to be in the back you have a higher chance of getting stuck off-road. If you invest in some traction boards and good tires this will help to an extent but simply put if you’re wanting to do a lot of off-road camping the ProMaster may not be the best choice for you.</li>
    <li>While dodge is an american company the ProMaster itself is based on a european import (Fiat Ducato) so there are some parts that need to be imported in the event something goes wrong. Mercedes is the most expensive to maintain, then promaster is in the middle and Ford transits are in my opinion, the cheapest to maintain.</li>
</ul>

<h5>Mercedes Sprinter:</h5>
<p>Pros: </p>
<ul>
    <li>Well built. Mercedes in general, makes a super high quality, long lasting van but that comes at the highest price point on the list</li>
    <li>Sprinters can come in gas or diesel options but when faced with a choice i would lean towards a Diesel van (better mileage and longer lasting)</li>
    <li>4x4 options are also available to the sprinter vans.</li>
    <li>Mercedes maintains its value more than any other large cargo van</li>
    <li>Best fuel economy (diesel option) on the list</li>
</ul>
<p>Cons: </p>
<ul>
    <li>Highest maintenance cost on the list.</li>
    <li>Not as many dealerships around to perform service.</li>
</ul>

<h5>Ford Transit:</h5>
<p>Pros:</p>
<ul>
    <li>Most popular van in the US. (mostly for commercial applications but they are still on the road and need to be maintained)</li>
    <li>Easiest to service</li>
    <li>Has the highest roof option on the list (also a con)</li>
</ul>
<p>Cons:</p>
<ul>
    <li>Because it has the highest roof you can forget about drive-thrus</li>
    <li>Skinniest of the 3 models so your bet will likely need to be front to back oriented (unless you're really short, but then you would need a custom matress)</li>
    <li>Nearly as expensive as mercedes but at least servicing will be cheaper</li>
</ul>

<h5>Honorable mentions:</h5>
<p>You may want to look at these as well depending on your needs</p>
<ul>
    <li>Chevy Express/GMC Savana</li>
    <li>Nissan NV</li>
    <li>Ram Promaster City (small)</li>
    <li>Ford Transit Connect (small)</li>
</ul>


<h3>Insulation:</h3>
<p> Next up is arguably the most important part of the van build, and that is Insulation! Even if you are chasing the seasons and moving all over the country to try and catch the best weather, you will still be far more comfortable in a van that is insulated. Remember, you're in a tin can that will heat up in the sun and freeze in the cold! Insulation has what is called an R-Value, which is the unit of measurement to determine how effective insulation is at providing "resistance" to heat transference</p>
<p>Here is a list of the most common types of insulation:</p>

<table class="table">
    <tr>
        <td><h5>Insulation type:</h5></td>
        <td><h5>R-Value:</h5></td>
        <td><h5>Image:</h5></td>
        <td><h5>Description:</h5></td>
    </tr>
    <tr>
        <td><a href="https://www.google.com/search?q=foam+board+insulation+for+van&rlz=1C1CHBF_enUS924US924&biw=1920&bih=961&sxsrf=ALiCzsZPwRa6HBLxSPinBBRnvr4o8SSYXg%3A1666113618630&ei=UuBOY-bYJYqn0PEPnbqc4AQ&ved=0ahUKEwjmyZLzpOr6AhWKEzQIHR0dB0wQ4dUDCA8&uact=5&oq=foam+board+insulation+for+van&gs_lcp=Cgdnd3Mtd2l6EAMyBQgAEIAEMgYIABAWEB4yBggAEBYQHjIGCAAQFhAeMgYIABAWEB4yCAgAEBYQHhAPMgYIABAWEB4yBggAEBYQHjIGCAAQFhAeMgYIABAWEB46BAgjECc6BQgAEJECOgsIABCABBCxAxCDAToECAAQQzoKCAAQsQMQgwEQQzoHCAAQsQMQQzoHCAAQyQMQQzoICAAQgAQQyQM6CggAEIAEEIcCEBRKBAhBGABKBAhGGABQAFj2MmDENGgAcAF4AYAB5wKIAeQYkgEIMC4xMy4zLjGYAQCgAQHAAQE&sclient=gws-wiz" target ="_blank"> Rigid Foam Board </a> (What I used)</td>
        <td>R-10 (2" thickness)</td>
        <td><img class ="img-200" src="~/MyVanAssets/Insulation1.jpg" alt="pic of foam board"/></td>
        <td>This is what i used in my van with a little spray foam to adhere it to the walls. It has a good R-value for its thickness and sticks to the walls fairly easily (you just need to cut out the foam too fit the contours of the van and once you have it shaped correctly you can add some spray foam or construction adhesive to stick it in place. This is probably the easiest to obtain and install which is why I chose this option</td>
    </tr>
    <tr>
        <td><a href="https://www.google.com/search?rlz=1C1CHBF_enUS924US924&sxsrf=ALiCzsYsNMuvPbZLtprwgh4Hltr58DcLBg:1666113613263&q=spray+foam+insulation+van&spell=1&sa=X&ved=2ahUKEwi9r8vwpOr6AhXCJDQIHWgVDVMQirwEKAB6BAgJEAE&biw=1920&bih=961&dpr=1" target="_blank"> Spray Foam</a></td>
        <td>Ranges from 3.1 to 7.1 per inch</td>
        <td><img class="img-200" src="https://feralescape.com/wp-content/uploads/2019/06/sparyfoaminsulationforvan.jpg" alt="spray foam img"/></td>
        <td>This is probably the best at getting into all of the nooks and crannies. Any air gaps you have that allow air to freely flow is going to be a huge loss (heat or cold). A lot of van builders will use this to fill in the cracks even if they didn't spray foam the entire van because it is so good at filling in all the other random holes throughout the van.</td>
    </tr>
    <tr>
        <td><a href="https://www.google.com/search?q=fiberglass+batt+insulation&rlz=1C1CHBF_enUS924US924&oq=fiberglass+batt+insulation&aqs=chrome..69i57j0i512l9.9201j1j7&sourceid=chrome&ie=UTF-8">Fiberglass Batt Insulation</a></td>
        <td>Ranges from 3.1 to 3.4 per inch</td>
        <td><img class="img-200" src="~/OtherAssets/FiberglassBatts.jpg"/> </td>
        <td>This is most commonly used in houses and as such is readily available at most hardware stores. Its the cheapest price but comes with a few drawbacks. Since it is made of fiberglass you're going to want to wear some protective gear to keep it from touching your skin (it won't kill you but will cause a rash and itchiness). It trims easily but is more difficult to stick to the walls. What a lot of van builders do is do their framing first and then tuck these behind it. There are some adhesives that will help it stick to the walls but since the fiberglass pulls apart by hand I'm not sure the longevity of relying on that route. That being said, if this is the only kind of insulation you can get your hands on then its still far better than nothing!</td>
    </tr>
    <tr>
        <td><a href="https://www.google.com/search?q=wool+insulation+for+van&rlz=1C1CHBF_enUS924US924&oq=wool+&aqs=chrome.1.69i57j69i59j0i131i433i512l3j46i199i465i512j0i131i433i512j69i60.3653j0j7&sourceid=chrome&ie=UTF-8">Wool Insulation</a></td>
        <td>Ranges from 3.5 to 3.8 per inch</td>
        <td><img class="img-200" src="~/OtherAssets/Wool-Insulation.jpg"/> </td>
        <td>Wool insulation often comes in batts similar to fiberglass however its completely safe to handle without protective clothing! It is environmentally friendly, handles moisture without molding, and still maintains a great R-value! This can be more expensive however so keep that in mind if you are looking into this option.</td>
    </tr>
    <tr>
        <td><a href="https://www.google.com/search?rlz=1C1CHBF_enUS924US924&sxsrf=ALiCzsbLJHCCNOE5xbjT5WZzP0ATT2VTkw:1666113371638&q=thinsulate+insulation+for+van&spell=1&sa=X&ved=2ahUKEwjb4a_9o-r6AhXSHjQIHb3yBP4QirwEKAB6BAgHEAE&biw=1920&bih=961&dpr=1" target="_blank">Thinsulate</a></td>
        <td>Ranges from 3.25 per inch</td>
        <td><img class="img-200" src="~/OtherAssets/thinsulate.jpg"/> </td>
        <td>Thinsulate is another popular option for vans. This is a type of fabric insulation is easy to cut out to the desired shape. You'll want to use some sort of spray adhesive when attaching to the van (unless you can think of some other method but that's how I've seen it done). It is water repelling and fire resistant. It's also made of vegan materials if you're in to that. This is an all round good option albeit one of the most expensive options.</td>
    </tr>
</table>

<h3>Flooring:</h3>
<p>When deciding on what type of flooring works best for you, you should take a few things into consideration.</p>
<ul>
    <li>Will you need as much head room as possible?</li>
    <li>Are you going to need something that is extra durable?</li>
    <li>Are you going to spend time in climates with lots of moisture?</li>
</ul>


<h4>Links to van build resources</h4>
<a href="/vanbuilds/mine">Check out my van build!</a>

