<link rel="stylesheet" href="~/css/site.css"/>

<h2>My Van Build</h2>
<p>I'm by no means an over-sharer so my apologies for not having detailed videos and walkthroughs of my van build. I do however have a bunch of photos I took along the way which should help give a little context to my explainations. I'll give a brief rundown of my van build and a few pictures as i go however <a href="https://photos.app.goo.gl/HYozABbLFWVFPpwU9" target="_blank">here</a> is a link to my google photos where i uploaded all the van pics that i took</p>

<p>In the summer of 2019 I bought the van after another employee/friend of mine had a vehicle break down and I was put in a situation where i would need to hire a new technician or make the leap to buy a van and let him use my vehicle. After dreaming of vanlife for over a year i was ready to do it but was too scared to pull the trigger. His unfortunate vehicle trouble was just the push I needed to finally commit! </p>

<p>A week went by while i frantically searched dealerships nearby to no avail. I expanded my search to the next state over and finally started seeing what i was looking for. I called the dealership and made sure they had the van in stock and told them I was booking a flight the next day to go get it. When I flew in, someone from the dealership picked me up at the airport and drove me to the dealership where I test drove and proceeded to go through with the purchase. It was a 10 hour drive to get back to where I was living at the time but I couldn't stop smiling the whole way back!</p>

<p>I had MY van!!! It was used but in good enough condition and low enough mileage that i shouldn't have issues for a long time! I got my hands on a 2018 Ram Promaster 2500 136" Wheelbase. My job had me working </p>
<div class="d-flex justify-content-center">
    <img class="img-400" src="https://scontent-mia3-1.xx.fbcdn.net/v/t39.30808-6/311408215_10160499894762299_1080154976963078689_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=49d041&_nc_ohc=ox_gdDhUIMwAX_mNiwy&_nc_ht=scontent-mia3-1.xx&oh=00_AfDWVGgTiPiAWjbzZ4ndkV-gHUzlVDKEIuqiWdyY6OmIMA&oe=6520435F" alt="image of a ram promaster van"/>
    <img class="img-400" src="https://scontent-mia3-2.xx.fbcdn.net/v/t39.30808-6/312142551_10160499883527299_1178159441856123666_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=49d041&_nc_ohc=xbtdYS0OIiYAX8pwgeP&_nc_ht=scontent-mia3-2.xx&oh=00_AfDAMLKd2N0fBLCJvDj-EQOYhyTn2ifn6Za9dKvgyzpF1g&oe=65206AF4" alt="empty van cargo area"/>
</div>

<p>The time had come to start putting in some serious overtime to turn this empty shell into something habitable. Since I was building this thing from floor to ceiling I figured I would need to first lay some groundwork.... I laid down some reflectix, which in theory should have helped with reflecting under carriage heat(this may or not have even been beneficial but when it comes to insulation the more the better). On top of the reflectix I installed 3/4" plywood as my main flooring element. What I did next I wouldn't recommend because while it hasn't caused an issue yet, I feel like it could be an issue down the road... I got some metal tapping screws and screwed the plywood directly to the base of the van. If I were to do it all over again i would have removed the reflectix and simply glued the plywood directly to the van (every hole you make is one more spot for potential rust) </p>
<div class="d-flex justify-content-center">
    <img class="img-400" src = "https://scontent-mia3-2.xx.fbcdn.net/v/t39.30808-6/312205188_10160499887447299_6655515012981821732_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=49d041&_nc_ohc=VnBCgDkjaLkAX9pEAa_&_nc_ht=scontent-mia3-2.xx&oh=00_AfC4CBtElOHARr0CoUgzOALwAQ5gCtUdlKHkVotdxYkGZQ&oe=651ED739" alt="partially assembled floor" />
    <img class="img-400" src="https://scontent-mia3-1.xx.fbcdn.net/v/t39.30808-6/309619950_10160499887812299_1922262840450799994_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=49d041&_nc_ohc=E60TerrnhCMAX-R8lyF&_nc_ht=scontent-mia3-1.xx&oh=00_AfANP8hb8xSzQhJOX5bkX58IspAlez6hEwFUhcZhe8mEHA&oe=651FBC4D" alt="plywood floor screwed in"/>
</div>


<p>Next, I found some peel and stick vinyl floor tiles which installed super easily, and were cheap enough that I told myself when one gets damaged I can just replace the tile. This decision was one I ended up regretting later as the tiles would shrink and swell massively depending on the temperature or if they were caught in direct sunlight. 2 years later I ended up ripping out those cheap peel and stick tiles and replacing them with interlocking vinyl planks. They are far more durable, don't expand nearly as bad in the sun, and look a lot better than the peel and stick tiles. The price difference was only like $20 more expensive (total) than it was for the peel and stick tiles... I only needed 1 box (its only like a 6x10 foot space after all!). Since all of the firniature and cabinets were already in place, I only had to replace the section in the open which drastically cut down on the cost </p>

<div class="d-flex justify-content-center">
    <img class="img-400" src="https://scontent-mia3-1.xx.fbcdn.net/v/t39.30808-6/310622911_10160499888922299_8071973296857970917_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=49d041&_nc_ohc=mzQsPZxtZGkAX-Qim_S&_nc_ht=scontent-mia3-1.xx&oh=00_AfAC2iAUJuDAdWI2C6IF6SJDCsUZ3iBLUnLwPQL8ZIZphA&oe=651FF4F6" alt="Peel and stick floor tiles" />
    <img src="" alt="new floring pic"/>
</div>


<p>The next thing i tackled was insulation. When i first started looking for insulation ideas i found a few van build videos that used Rigid Foam Board insulation and since it was readily available at the local hardware store and i didn't want to wait around for something to ship to me i decided to go that route. Foam board has a decent R-value and is fairly easy to install. The process I would follow is:</p>
<ol>
    <li>Cut out the foam board to fit into the next wall cavity</li>
    <li>Add some spray foam to the side that touched the van and around the outside edges of the board</li>
    <li>Brace a board against it for 30+ mins while to sprayfoam dried enough to stay put (they say you need 12-24 hours for the spray foam to fully cure but when used as an adhesive it held up the foam board just fine)</li>
    <li>Rinse and repeat</li>
</ol>
<div class="d-flex justify-content-center">
    <img class="img-400 " src="~/MyVanAssets/Insulation1.jpg" alt="insulation pic"/>
</div>

<p>The sleeping area was a little bit different. I still wanted insulation but I also wanted as much bed length as possible. Rather than using 2" insulation for the bed area i found some 1" instead. </p>
<img class="img-400" src="~/MyVanAssets/EmptySelfie.jpg" alt="EmptySelfie">
<img class="img-400" src="~/MyVanAssets/garage1.jpg" alt="garage1">
<img class="img-400" src="~/MyVanAssets/garagefull.jpg" alt="garagefull">
<img class="img-400" src="~/MyVanAssets/CeilingFanTaped.jpg" alt="CeilingFanTaped">
<img class="img-400" src="~/MyVanAssets/CeilingFanHole1.jpg" alt="CeilingFanHole1">
<img class="img-400" src="~/MyVanAssets/CeilingFanHole2.jpg" alt="CeilingFanHole2">
<img class="img-400" src="~/MyVanAssets/CeilingFanHole3.jpg" alt="CeilingFanHole3">
<img class="img-400" src="~/MyVanAssets/BigVent1.jpg" alt="BigVent1">
<img class="img-400" src="~/MyVanAssets/BigVent2.jpg" alt="BigVent2">
<img class="img-400" src="~/MyVanAssets/SmallFan1.jpg" alt="SmallFan1">
<img class="img-400" src="~/MyVanAssets/SmallFan2.jpg" alt="SmallFan2">
<img class="img-400" src="~/MyVanAssets/SolarPanels1.jpg" alt="SolarPanels1">
<img class="img-400" src="~/MyVanAssets/SolarPanels2.jpg" alt="SolarPanels2">
<img class="img-400" src="~/MyVanAssets/BackFraming1.jpg" alt="Back framing 1">
<img class="img-400" src="~/MyVanAssets/BackFraming2.jpg" alt="Back framing 2">
<img class="img-400" src="~/MyVanAssets/BackFraming3.jpg" alt="Back framing 3">
<img class="img-400" src="~/MyVanAssets/BackNoBed1.jpg" alt="Back no bed ">
<img class="img-400" src="~/MyVanAssets/Bench1.jpg" alt="Bench1">
<img class="img-400" src="~/MyVanAssets/Bench2.jpg" alt="Bench2">
<img class="img-400" src="~/MyVanAssets/Bench3.jpg" alt="Bench3">
<img class="img-400" src="~/MyVanAssets/FoldingBed1.jpg" alt="FoldingBed1">
<img class="img-400" src="~/MyVanAssets/FoldingBed2.jpg" alt="FoldingBed2">
<img class="img-400" src="~/MyVanAssets/FoldingBed3.jpg" alt="FoldingBed3">
<img class="img-400" src="~/MyVanAssets/FoldingBed4.jpg" alt="FoldingBed4">
<img class="img-400" src="~/MyVanAssets/FoldingBed5.jpg" alt="FoldingBed5">
<img class="img-400" src="~/MyVanAssets/FoldingBed6.jpg" alt="FoldingBed6">
<img class="img-400" src="~/MyVanAssets/Couch1.jpg" alt="Couch1">
<img class="img-400" src="~/MyVanAssets/CouchBed1.jpg" alt="CouchBed1">
<img class="img-400" src="~/MyVanAssets/CouchBed2.jpg" alt="CouchBed2">
<img class="img-400" src="~/MyVanAssets/CabtoBackLip1.jpg" alt="CabtoBackLip1">
<img class="img-400" src="~/MyVanAssets/CabtoBackLip2.jpg" alt="CabtoBackLip2">
<img class="img-400" src="~/MyVanAssets/CabtoBackLip3.jpg" alt="CabtoBackLip3">
<img class="img-400" src="~/MyVanAssets/CabtoBackLip4.jpg" alt="CabtoBackLip4">
<img class="img-400" src="~/MyVanAssets/Electrical.jpg" alt="Electrical">
<img class="img-400" src="~/MyVanAssets/Shiplap1.jpg" alt="Shiplap1">
<img class="img-400" src="~/MyVanAssets/UnderBedStorage.jpg" alt="UnderBedStorage">
<img class="img-400" src="~/MyVanAssets/KitchenCAD.jpg" alt="KitchenCAD">
<img class="img-400" src="~/MyVanAssets/Kitchen1.jpg" alt="Kitchen1">
<img class="img-400" src="~/MyVanAssets/Kitchen2.jpg" alt="Kitchen2">
<img class="img-400" src="~/MyVanAssets/Kitchen3.jpg" alt="Kitchen3">
<img class="img-400" src="~/MyVanAssets/Kitchen4.jpg" alt="Kitchen4">
<img class="img-400" src="~/MyVanAssets/KitchenCouch.jpg" alt="KitchenCouch">
<img class="img-400" src="~/MyVanAssets/KitchenFinished1.jpg" alt="KitchenFinished1">
<img class="img-400" src="~/MyVanAssets/KitchenFinished2.jpg" alt="KitchenFinished2">
<img class="img-400" src="~/MyVanAssets/KitchenPlumbing.jpg" alt="KitchenPlumbing">
<img class="img-400" src="~/MyVanAssets/KitchenSink.jpg" alt="KitchenSink">
<img class="img-400" src="~/MyVanAssets/Lighting.jpg" alt="Lighting">
<img class="img-400" src="~/MyVanAssets/SwivelSeats.jpg" alt="SwivelSeats">
<img class="img-400" src="~/MyVanAssets/LoungingView.jpg" alt="LoungingView">
<img class="img-400" src="~/MyVanAssets/OutsideCamping.jpg" alt="OutsideCamping">
<img class="img-400" src="~/MyVanAssets/Sunset.jpg" alt="Sunset">

