@model Dish
<h1 class="text-center">Create a new dish</h1>
<p class="text-center">All fields required</p>
<form asp-controller="Home" asp-action="SubmitDish"  method="post" class="create-box">
    <div class="left">
        <div class = "d-flex">
            <label asp-for="Chef">Chef: </label>
            <span asp-validation-for="Chef" style="color: red"></span>
        </div>
        <input asp-for="Chef">

        <div class = "d-flex">
            <label asp-for="Name">Dish Name: </label>
            <span asp-validation-for="Name" style="color:red"></span>
        </div>
        <input asp-for="Name">

        <div class = "d-flex">
            <label asp-for="Calories">Calories: </label>
            <span asp-validation-for="Calories" style="color: red"></span>
        </div>
        <input asp-for="Calories">    

    </div>
    <div class="middle">
        <select name="Tastiness" asp-for="Tastiness" class="d-flex">
                <option hidden value="">Tastiness</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
        </select>
        <span asp-validation-for="Tastiness" style="color: red"></span>

    </div>
    <div class="right">
        <div class = "d-flex">
            <label asp-for="Description">Description: </label>
            <span asp-validation-for="Description" style="color: red"></span>
        </div>
        <textarea name = "Description" rows="5" cols="30" asp-for="Description"></textarea>  
        
        <button type="submit" class="btn btn-primary margins"> Submit </button>
    </div>
</form>