@{
    ViewData["Title"] = "Home Page";
}
@model List<Dish>

<div class="text-center">
    <h1 class="display-4">Welcome to CRUDelicious</h1>
    <div class="nav d-flex justify-content-center">
        <p>Home</p> |
        <a href="dishes/create"> Create a dish</a>
    </div>
    <div>Check out some recent dishes</div>
    <div class="dishes">
        @foreach(Dish dish in Model)
        {
            <div class = "border d-flex">
                <div>Name: <a href="/dishes/@dish.DishId/view">@dish.Name</a></div>
                <div>By: @dish.Chef</div>
                
                @* <a href="/dishes/@dish.DishId/view">View </a> |
                <a href="/dishes/@dish.DishId/edit"> Edit</a> |
                <a href="/dishes/@dish.DishId/destroy"> Delete</a> *@
            </div>
        }

    </div>
</div>
