@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Dojodachi</h1>
    <p>To win you will need to get your Dojodachi's fullness and happiness to 100+ but will lose if their fullness or happiness drops to 0</p>
    <a href="/dojodachi/new"> Click Here to Play!</a>    
</div>
