@model LoginUser
<h1 class="text-center">Login</h1>

<form asp-controller="Users" asp-action="Login"  method="post" class="create-box">

    <div class = "d-flex">
        <label asp-for="LoginEmail">Email: </label>
        <span asp-validation-for="LoginEmail" style="color: red"></span>
    </div>
    <input asp-for="LoginEmail">    

    <div class = "d-flex">
        <label asp-for="LoginPassword">Password: </label>
        <span asp-validation-for="LoginPassword" style="color: red"></span>
    </div>
    <input asp-for="LoginPassword">  
 
        
        <button type="submit" class="btn btn-primary margins"> Submit </button>
    </div>
</form>