@model List<StatePark>
<h1>Where are you going to sleep tonight?</h1>
<img style="width: 100%" src="https://adventure.com/wp-content/uploads/2018/06/Van-life-van-in-the-USA-Photo-credit-tyler-lillico-443139-unsplash.jpg">
<p >This can sometimes be a challenge if you fail to plan ahead! The freedom of Vanlife allows you to travel anywhere in the country but planning ahead can make the difference of waking up in a beautiful campground surrounded by nature or can mean waking up in a parking lot. During times of extreme weather you need to plan your route while paying close attention to the route your gps decides for you. You don't want to find yourself stuck in the mountains in the dead of winter!</p>
<p>There is a long list of apps out there that can also help with this.</p>
<p>Here are a few I've used and find useful</p>
<ul>
    <li>iOverlander - has a lot of camp sites as well as wild camping, urban camping, etc</li>
    <li>RV Parky - shows a lot of campgrounds and were an RV can safely park overnight. </li>
    <li>US Public Lands - shows BLM (Bureau of land managment) lands where you can camp for free. No facilities so this is for Boondocking primarily</li>
    <li>National Park Service - shows the national parks in an area and the camping located nearby</li>
</ul>
<p>State Parks</p>
<a href="/camping/Alabama">Alabama</a>
<a href="/camping/Alaska">Alaska</a>
<a href="/camping/Arizona">Arizona</a>
<a href="/camping/California">California</a>
<a href="/camping/Colorado">Colorado</a>
<a href="/camping/Connecticut">Connecticut</a>
<a href="/camping/Delaware">Delaware</a>
<a href="/camping/Florida">Florida</a>
<a href="/camping/Georgia">Georgia</a>
<a href="/camping/Hawaii">Hawaii</a>
<a href="/camping/Idaho">Idaho</a>
<a href="/camping/Illinois">Illinois</a>
<a href="/camping/Indiana">Indiana</a>
<a href="/camping/Iowa">Iowa</a>
<a href="/camping/Kansas">Kansas</a>
<a href="/camping/Kentucky">Kentucky</a>
<a href="/camping/Louisiana">Louisiana</a>
<a href="/camping/Maine">Maine</a>
<a href="/camping/Maryland">Maryland</a>
<a href="/camping/Massachusetts">Massachusetts</a>
<a href="/camping/Michigan">Michigan</a>
<a href="/camping/Maryland">Maryland</a>
<a href="/camping/Minnesota">Minnesota</a>
<a href="/camping/Mississippi">Mississippi</a>
<a href="/camping/Missouri">Missouri</a>
<a href="/camping/Montana">Montana</a>
<a href="/camping/Nebraska">Nebraska</a>
<a href="/camping/Nevada">Nevada</a>
<a href="/camping/New Hampshire">New Hampshire</a>
<a href="/camping/New Jersey">New Jersey</a>
<a href="/camping/New Mexico">New Mexico</a>
<a href="/camping/New York">New York</a>
<a href="/camping/North Carolina">North Carolina</a>
<a href="/camping/North Dakota">North Dakota</a>
<a href="/camping/Ohio">Ohio</a>
<a href="/camping/Oklahoma">Oklahoma</a>
<a href="/camping/Oregon">Oregon</a>
<a href="/camping/Pennsylvania">Pennsylvania</a>
<a href="/camping/Rhode Island">Rhode Island</a>
<a href="/camping/South Carolina">South Carolina</a>
<a href="/camping/South Dakota">South Dakota</a>
<a href="/camping/Tennessee">Tennessee</a>
<a href="/camping/Texas">Texas</a>
<a href="/camping/Utah">Utah</a>
<a href="/camping/Vermont">Vermont</a>
<a href="/camping/Virginia">Virginia</a>
<a href="/camping/Washington">Washington</a>
<a href="/camping/West Virginia">West Virginia</a>
<a href="/camping/Wisconsin">Wisconsin</a>
<a href="/camping/Wyoming">Wyoming</a>

