@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Security Master 3000</h1>
    <p>Please select a role</p>
    <div class="options">
        <a href="/sales" class="sales">Sales</a> | 
        <a href="/tech" class="tech">Technician</a> | 
        <a href="/inventory" class="inventory">Inventory Management</a>
    </div>
</div>
