@model User

<body class="bg">
    <form asp-asp-controller="Users" asp-action="UpdateProfile" method="post">
        
        <div class = "d-flex">
            <label asp-for="FirstName">First Name: </label>
            <span asp-validation-for="FirstName" style="color: red"></span>
        </div>
        <input asp-for="FirstName">

        <div class = "d-flex">
            <label asp-for="LastName">Last Name: </label>
            <span asp-validation-for="LastName" style="color:red"></span>
        </div>
        <input asp-for="LastName">

        <div class = "d-flex">
            <label asp-for="Email">Email: </label>
            <span asp-validation-for="Email" style="color: red"></span>
        </div>
        <input asp-for="Email">    


        <select name="Role" asp-for="Role" class="d-flex margin-top">
                <option hidden value="">Role:</option>
                <option value="Salesman">Salesman</option>
                <option value="Technician">Technician</option>
                <option value="Inventory">Inventory</option>
        </select>
        <span asp-validation-for="Role" style="color: red"></span>

        <input asp-for="Password" type="hidden">
        <input asp-for="ConfirmPassword" type="hidden" value="@Model.Password">
        
        <button type="submit" class="btn btn-primary buttons"> Submit </button>
    </form>
</body>