@model ForgotUser

<form asp-controller="Users" asp-action="RecoverPassword" method="post">
    <div class = "d-flex">
        <label asp-for="ForgotEmail">Email: </label>
        <span asp-validation-for="ForgotEmail" style="color: red"></span>
    </div>
    <input asp-for="ForgotEmail">  

    <div class = "d-flex">
        <label asp-for="ForgotDoB">Date of Birth (exact time of day not required): </label>
        <span asp-validation-for="ForgotDoB" style="color: red"></span>
    </div>
    <input asp-for="ForgotDoB">  

    <button class="btn btn-primary">Submit</button>
</form>