@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-3 text-center">Security Company</h1>
<div class=" d-flex justify-content-center">
    <div class="login-box">
        <partial name="_Register"></partial>
    </div>
    <h2 class="middle">OR</h2>
    <div class="login-box">
        <partial name="_Login"></partial>
    </div>    
</div>