@model UpdatePassword

<body class="bg">
    <form asp-controller="Users" asp-action="UpdateRecoveredPassword" method="post">
        <div class="d-flex">
            <label asp-for="CurrentPassword" type="hidden">Current Password: </label>
            <span asp-validation-for="CurrentPassword" style="color:red"></span>
        </div>
        <input asp-for="CurrentPassword" type="hidden">
        
        <div class="d-flex">
            <label asp-for="NewPassword">New Password: </label>
            <span asp-validation-for="NewPassword" style="color:red"></span>
        </div>
        <input asp-for="NewPassword">

        <div class="d-flex">
            <label asp-for="ConfirmNewPassword">Confirm Password: </label>
            <span asp-validation-for="ConfirmNewPassword" style="color:red"></span>
        </div>
        <input asp-for="ConfirmNewPassword">

        <button class="btn btn-primary">Submit</button>
    </form>
</body>
